@media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #fff;
      /* z-index: 1000; */
      padding: 20px;
    }
  
    .menu ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .menu-icon {
      display: block;
    }
  
    /* Toggle Menu Display */
    #menu-toggle:checked + .menu-icon + .menu {
      display: flex;
    }
  }

@media (max-width: 971px) {
    .sub-header {
        
        max-width: 100%; 
        background-size: cover;
        
    }
    .sub-header .advance {
        
        
        width:100% ;
    }
}
@media (max-width: 962px)
{
    .logo
    {
      flex-direction: column;
      align-items: center;  
      width: 100%;

    }
    .image
    {
       display: flex;
       

    }
    .logo .text
    {
        width: auto;
        align-content: center;
        
        font-size: 16px;
       
    }
    .logo img
    {
      display: flex;
     justify-content: center;
     width: 12.5rem;
     height: 12.5rem;
    }
}
@media (max-width: 1054px)
{
    .course 
    {
      
      width: 100%;
      background-color:#000442 ;

    }
}
@media (max-width: 962px) {
    .container
    {
        grid-template-columns: repeat(1, 1fr);
    }
}



@media (max-width: 900px) {
    .container {
        width: 1000px; 
        grid-template-columns: 1fr; 
        padding: 1rem; 
    }

   
}
@media (max-width: 397px) {
    .container {
        width: 1000px; 
        grid-template-columns: 1fr; 
        padding: 1rem; 
    }

   
}

@media (max-width: 950px) {
    .footer-container .footer-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* padding: 5rem; */
       
    }
}
@media (max-width: 593px) {
    .footer-container .footer-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .footer-list .purple
    {
        
        font-size: 1rem;
        width: 100%;
    }
    .footer-list .text li
    {
        font-size: 1rem;
        width: 20rem;
    }
}
